.header {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 82, 112);
}

h1 {
    padding: .4rem 15%;
    color: rgb(255, 255, 255);
}