.container {
    display: flex;
    height: 80%;
    background-color: #c5c5c5;
}

.sidenav {
    background-color: rgb(95, 116, 152);
}

.mat-list-item {
    color: #c5c5c5;
}

.material-icons {
    margin: 1rem 0.5rem 0 0.5rem;
    align-items: center;
}

button {
    margin: 1rem auto 0 1rem;
    background-color: #c5c5c5;
    border: none;
    color: rgb(64, 82, 112);
}

.mat-drawer {
    width: 200px;
}